@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f2622e;
  --background: #fff;
  --accent: #034aa6;
  --accent-hover: #f2622e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #f2622e;
    --accent: #034aa6;
    --accent-hover: #fff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
