@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --white: #fff;
  --orange: #f2622e;
  --blue: #034aa6;
  --black: #222;
  --foreground: var(--white);
  --background: var(--orange);
  --accent: #034aa6;
  --accent-hover: var(--orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--white);
    --background: #034aa6;
    --accent: var(--orange);
    --accent-hover: var(--white);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
