@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --white: #fff;
  --white-0: #fff0;
  --orange: #f2622e;
  --orange-0: #f2622e00;
  --blue: #034aa6;
  --blue-0: #034aa600;
  --black: #222;
  --black-0: #2220;
  --gray: #666;
  --foreground: var(--white);
  --foreground-0: var(--white-0);
  --background: var(--orange);
  --background-0: var(--orange-0);
  --accent: var(--blue);
  --accent-hover: var(--orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--white);
    --foreground-0: var(--white-0);
    --background: var(--black);
    --background-0: var(--black-0);
    --accent: var(--orange);
    --accent-0: var(--orange-0);
    --accent-hover: var(--white);
  }
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

header,
main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
